CREATE DATABASE [DbLibrarySystem]
ALTER DATABASE [DbLibrarySystem] SET COMPATIBILITY_LEVEL = 110
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbLibrarySystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbLibrarySystem]
GO
/****** Object:  Table [dbo].[TBL_ADMIN]    Script Date: 15.06.2021 15:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_ADMIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](30) NULL,
	[PASSWORD] [varchar](15) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_TBL_ADMIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_AUTHOR]    Script Date: 15.06.2021 15:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_AUTHOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[SURNAME] [varchar](50) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_TBL_YAZARLAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_BOOK]    Script Date: 15.06.2021 15:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_BOOK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOK] [varchar](50) NULL,
	[AUTHOR] [int] NULL,
	[CATEGORY] [int] NULL,
	[PUBLISHER] [int] NULL,
	[YEAR] [varchar](4) NULL,
	[NUMBEROFPAGES] [varchar](5) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_TBL_BOOK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_CATEGORY]    Script Date: 15.06.2021 15:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY] [varchar](50) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_TBL_KATEGORILER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_PUBLISHER]    Script Date: 15.06.2021 15:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PUBLISHER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PUBLISHER] [varchar](50) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_TBL_PUBLISHER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_ADMIN] ON 

INSERT [dbo].[TBL_ADMIN] ([ID], [USERNAME], [PASSWORD], [STATUS]) VALUES (1, N'aaaa', N'1111', 1)
INSERT [dbo].[TBL_ADMIN] ([ID], [USERNAME], [PASSWORD], [STATUS]) VALUES (2, N'bbbb', N'2222', 1)
SET IDENTITY_INSERT [dbo].[TBL_ADMIN] OFF
SET IDENTITY_INSERT [dbo].[TBL_AUTHOR] ON 

INSERT [dbo].[TBL_AUTHOR] ([ID], [NAME], [SURNAME], [STATUS]) VALUES (1, N'J.R.R.', N'Tolkien', 1)
INSERT [dbo].[TBL_AUTHOR] ([ID], [NAME], [SURNAME], [STATUS]) VALUES (2, N'Richard K.', N'Morgan', 1)
INSERT [dbo].[TBL_AUTHOR] ([ID], [NAME], [SURNAME], [STATUS]) VALUES (3, N'Isaac', N'Asimov', 1)
SET IDENTITY_INSERT [dbo].[TBL_AUTHOR] OFF
SET IDENTITY_INSERT [dbo].[TBL_BOOK] ON 

INSERT [dbo].[TBL_BOOK] ([ID], [BOOK], [AUTHOR], [CATEGORY], [PUBLISHER], [YEAR], [NUMBEROFPAGES], [STATUS]) VALUES (1, N'End Of Eternity', 3, 3, 2, N'1942', N'220', 1)
INSERT [dbo].[TBL_BOOK] ([ID], [BOOK], [AUTHOR], [CATEGORY], [PUBLISHER], [YEAR], [NUMBEROFPAGES], [STATUS]) VALUES (2, N'Fellowship Of The Ring', 1, 4, 4, N'1951', N'701', 1)
INSERT [dbo].[TBL_BOOK] ([ID], [BOOK], [AUTHOR], [CATEGORY], [PUBLISHER], [YEAR], [NUMBEROFPAGES], [STATUS]) VALUES (3, N'The Pirates Of The Sultans', 8, 6, 3, N'2015', N'542', 1)
SET IDENTITY_INSERT [dbo].[TBL_BOOK] OFF
SET IDENTITY_INSERT [dbo].[TBL_CATEGORY] ON 

INSERT [dbo].[TBL_CATEGORY] ([ID], [CATEGORY], [STATUS]) VALUES (1, N'Thriller', 1)
INSERT [dbo].[TBL_CATEGORY] ([ID], [CATEGORY], [STATUS]) VALUES (2, N'Horror', 1)
INSERT [dbo].[TBL_CATEGORY] ([ID], [CATEGORY], [STATUS]) VALUES (3, N'Science Fiction', 1)
SET IDENTITY_INSERT [dbo].[TBL_CATEGORY] OFF
SET IDENTITY_INSERT [dbo].[TBL_PUBLISHER] ON 

INSERT [dbo].[TBL_PUBLISHER] ([ID], [PUBLISHER], [STATUS]) VALUES (1, N'İthaki', 1)
INSERT [dbo].[TBL_PUBLISHER] ([ID], [PUBLISHER], [STATUS]) VALUES (2, N'Metis', 1)
INSERT [dbo].[TBL_PUBLISHER] ([ID], [PUBLISHER], [STATUS]) VALUES (3, N'Panama', 0)
SET IDENTITY_INSERT [dbo].[TBL_PUBLISHER] OFF
ALTER TABLE [dbo].[TBL_AUTHOR] ADD  CONSTRAINT [DF_TBL_AUTHOR_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[TBL_BOOK] ADD  CONSTRAINT [DF_TBL_BOOK_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[TBL_CATEGORY] ADD  CONSTRAINT [DF_TBL_CATEGORY_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[TBL_PUBLISHER] ADD  CONSTRAINT [DF_TBL_PUBLISHER_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[TBL_BOOK]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BOOK_TBL_AUTHOR] FOREIGN KEY([AUTHOR])
REFERENCES [dbo].[TBL_AUTHOR] ([ID])
GO
ALTER TABLE [dbo].[TBL_BOOK] CHECK CONSTRAINT [FK_TBL_BOOK_TBL_AUTHOR]
GO
ALTER TABLE [dbo].[TBL_BOOK]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BOOK_TBL_CATEGORY] FOREIGN KEY([CATEGORY])
REFERENCES [dbo].[TBL_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[TBL_BOOK] CHECK CONSTRAINT [FK_TBL_BOOK_TBL_CATEGORY]
GO
ALTER TABLE [dbo].[TBL_BOOK]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BOOK_TBL_PUBLISHER] FOREIGN KEY([PUBLISHER])
REFERENCES [dbo].[TBL_PUBLISHER] ([ID])
GO
ALTER TABLE [dbo].[TBL_BOOK] CHECK CONSTRAINT [FK_TBL_BOOK_TBL_PUBLISHER]
GO
USE [master]
GO
