USE [DbHospitalManagementSystem]
GO
/****** Object:  Table [dbo].[TBL_ADMIN]    Script Date: 6/27/2021 4:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADMIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](30) NULL,
	[SURNAME] [varchar](30) NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](15) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_TBL_ADMIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BRANCH]    Script Date: 6/27/2021 4:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BRANCH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BRANCH] [varchar](50) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_TBL_BRANCH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DOCTOR]    Script Date: 6/27/2021 4:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DOCTOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[SURNAME] [varchar](50) NULL,
	[BRANCH] [int] NULL,
	[BIRTHOFDATE] [smalldatetime] NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_TBL_DOCTOR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NURSES]    Script Date: 6/27/2021 4:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NURSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](30) NULL,
	[SURNAME] [varchar](30) NULL,
	[POLICLINIC] [int] NULL,
	[BIRTHOFDATE] [smalldatetime] NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_TBL_NURSES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_ADMIN] ON 
GO
INSERT [dbo].[TBL_ADMIN] ([ID], [NAME], [SURNAME], [USERNAME], [PASSWORD], [STATUS]) VALUES (1, N'Mücahit', N'Duman', N'aaaa', N'1111', 1)
GO
INSERT [dbo].[TBL_ADMIN] ([ID], [NAME], [SURNAME], [USERNAME], [PASSWORD], [STATUS]) VALUES (2, N'Haluk', N'Tatar', N'bbbb', N'2222', 1)
GO
INSERT [dbo].[TBL_ADMIN] ([ID], [NAME], [SURNAME], [USERNAME], [PASSWORD], [STATUS]) VALUES (3, N'Kübra', N'Ovali', N'cccc', N'3333', 1)
GO
SET IDENTITY_INSERT [dbo].[TBL_ADMIN] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_BRANCH] ON 
GO
INSERT [dbo].[TBL_BRANCH] ([ID], [BRANCH], [STATUS]) VALUES (1, N'Pediatri', 1)
GO
INSERT [dbo].[TBL_BRANCH] ([ID], [BRANCH], [STATUS]) VALUES (2, N'Radiology', 1)
GO
INSERT [dbo].[TBL_BRANCH] ([ID], [BRANCH], [STATUS]) VALUES (3, N'Brain Surgery', 1)
GO
SET IDENTITY_INSERT [dbo].[TBL_BRANCH] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_DOCTOR] ON 
GO
INSERT [dbo].[TBL_DOCTOR] ([ID], [NAME], [SURNAME], [BRANCH], [BIRTHOFDATE], [STATUS]) VALUES (1, N'Tuncel ', N'Kurtiz', 2, CAST(N'1975-01-01T00:00:00' AS SmallDateTime), 1)
GO
INSERT [dbo].[TBL_DOCTOR] ([ID], [NAME], [SURNAME], [BRANCH], [BIRTHOFDATE], [STATUS]) VALUES (2, N'Büsra', N'Besiktepe', 6, CAST(N'1980-05-04T00:00:00' AS SmallDateTime), 1)
GO
INSERT [dbo].[TBL_DOCTOR] ([ID], [NAME], [SURNAME], [BRANCH], [BIRTHOFDATE], [STATUS]) VALUES (3, N'Irmak', N'Gültepe', 3, CAST(N'1978-02-15T00:00:00' AS SmallDateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[TBL_DOCTOR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_NURSES] ON 
GO
INSERT [dbo].[TBL_NURSES] ([ID], [NAME], [SURNAME], [POLICLINIC], [BIRTHOFDATE], [STATUS]) VALUES (1, N'Melisa', N'Küçük', 4, CAST(N'1991-05-21T00:00:00' AS SmallDateTime), 1)
GO
INSERT [dbo].[TBL_NURSES] ([ID], [NAME], [SURNAME], [POLICLINIC], [BIRTHOFDATE], [STATUS]) VALUES (2, N'Yusuf', N'Tasdelen', 2, CAST(N'1986-06-04T00:00:00' AS SmallDateTime), 1)
GO
INSERT [dbo].[TBL_NURSES] ([ID], [NAME], [SURNAME], [POLICLINIC], [BIRTHOFDATE], [STATUS]) VALUES (3, N'Mehmet', N'Karpuz', 3, CAST(N'1995-11-17T00:00:00' AS SmallDateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[TBL_NURSES] OFF
GO
ALTER TABLE [dbo].[TBL_ADMIN] ADD  CONSTRAINT [DF_TBL_ADMIN_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[TBL_BRANCH] ADD  CONSTRAINT [DF_TBL_BRANCH_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[TBL_DOCTOR] ADD  CONSTRAINT [DF_TBL_DOCTOR_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[TBL_NURSES] ADD  CONSTRAINT [DF_TBL_NURSES_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[TBL_DOCTOR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DOCTOR_TBL_BRANCH] FOREIGN KEY([BRANCH])
REFERENCES [dbo].[TBL_BRANCH] ([ID])
GO
ALTER TABLE [dbo].[TBL_DOCTOR] CHECK CONSTRAINT [FK_TBL_DOCTOR_TBL_BRANCH]
GO
ALTER TABLE [dbo].[TBL_NURSES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_NURSES_TBL_BRANCH] FOREIGN KEY([POLICLINIC])
REFERENCES [dbo].[TBL_BRANCH] ([ID])
GO
ALTER TABLE [dbo].[TBL_NURSES] CHECK CONSTRAINT [FK_TBL_NURSES_TBL_BRANCH]
GO
