<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
<connectionStrings><add name="DbLibrarySystemEntities" connectionString="metadata=res://*/_data.AdoDataModel.csdl|res://*/_data.AdoDataModel.ssdl|res://*/_data.AdoDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=DbLibrarySystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>